---
import Container from '../Container.astro';
---

<section id="Welcome" class="py-16 md:py-28 lg:py-36">
  <Container>
    <div class="flex max-md:flex-col gap-6 md:gap-12 xl:gap-20 relative overflow-hidden">
      <div class="w-auto">
        <h3 class="text-5xl font-bold font-sans max-md:text-center max-md:mx-auto text-gray-700 max-w-xs">
          Welcome to Advent Depot
        </h3>
        <br />
        <p class="max-md:text-center">
          At Advent Depot, we are your go-to destination for all your warehousing and storage needs in Florida, USA. As
          a leading storage facility, we understand the importance of efficient and reliable inventory management.
          Whether you're a small business looking for a secure place to store your products or a contractor in need of a
          convenient depot for your materials, we have you covered.
        </p>
        <br />
        <p class="max-md:text-center">
          Our mission is to provide a comprehensive warehousing solution that meets the unique requirements of
          businesses across various industries. With our state-of-the-art facility and a dedicated team, we offer a
          seamless experience that allows you to streamline your operations and focus on what matters most-growing your
          business.
        </p>
        <br />
      </div>
      <img
        class="max-h-80 w-fit mx-auto my-auto aspect-square rounded-full object-cover border-8 border-gray-700"
        src="https://www.shutterstock.com/image-photo/handsome-man-beard-wearing-safety-600nw-1932537386.jpg"
        alt=""
      />
    </div>
  </Container>
</section>
