---
import Container from '../Container.astro';
const cn = 'before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-pink-500';
---

<section id="Hero" class="relative grid place-items-center" style="height: 100dvh;">
  <img class="absolute right-0 top-0" src="/shape.svg" alt="" />
  <div class="max-w-7xl mx-auto px-6 md:px-12 xl:px-6 font-sans w-full h-full">
    <div class="grid place-items-center md:grid-cols-2 items-center h-full max-md:pt-20">
      <div class="max-md:text-center text-[#331B3B]">
        <h1
          class="max-sm:max-w-xs text-5xl sm:text-6xl lg:text-[90px] font-medium lg:leading-[80px]"
          style="text-wrap: balance;"
        >
          <span class="font-bold">PMO experts.</span>
          <span
            class="before:block before:absolute before:h-6 before:w-full before:bottom-0 before:bg-[#F1891C] relative inline-block"
          >
            <span class="relative text-[#331B3B]">Construction</span>
          </span> and consulting
        </h1>
      </div>
      <div class="relative">
        <img src="https://res.cloudinary.com/dynscts1t/image/upload/v1703202507/Group_4_1_sjg3w7.png" alt="" />
      </div>
    </div>
  </div>
</section>

<style>
  .radial-bg {
    background-image: radial-gradient(circle, #ffd03a, #b57b00);
  }
</style>
