---
import Container from '../Container.astro';

const data = [
  {
    title: 'Lorem',
    description: 'Lorem',
    color: '#FFDED4',
    icon: 1,
  },
  {
    title: 'Lorem',
    description: 'Lorem',
    color: '#D4F0FF',
    icon: 2,
  },
  {
    title: 'Lorem',
    description: 'Lorem',
    color: '#FFEED4',
    icon: 3,
  },
];
---

<section id="Section" class="relative overflow-hidden">
  <span class="absolute h-full w-full object-cover z-10 bg-[#ECF7FF]/60 rounded-se-full"></span>
  <Container>
    <article class="flex flex-col items-center justify-center relative z-20 py-32">
      <div class="text-center text-[#331B3B] w-full space-y-14">
        <div class="mx-auto">
          <h4 class="text-6xl font-sans font-bold">What We Do</h4>
          <h4 class="text-[#331B3B] font-light text-6xl font-sans mb-6">
            For Your <span
              class="before:block before:absolute before:h-4 before:w-full before:bottom-0 before:bg-[#F1891C] relative inline-block"
            >
              <span class="relative text-[#331B3B]">Business</span>
            </span>
          </h4>
        </div>
        <footer class="max-w-4xl text-justify grid grid-cols-3 gap-6 w-full mx-auto">
          {
            data.map((itm) => (
              <div class="flex flex-col bg-white shadow-md rounded-xl p-5 w-full">
                <div style={`background-color: ${itm.color};`} class="h-12 w-12 p-2 rounded-lg mb-3">
                  <img src={`/icons/${itm.icon}.svg`} alt="" class="mx-auto h-full w-full" />
                </div>
                <h3 class="font-bold text-base leading-4">{itm.title}</h3>
                <p class="font-light text-[15px] text-[#331B3B]/60">{itm.description}</p>
              </div>
            ))
          }
        </footer>
      </div>
    </article>
  </Container>
  <style></style>
</section>
