---
import Container from '../Container.astro';
---

<section id="Welcome" class="relative py-16 md:py-28 lg:py-36 bg-[#E6E7EB] min-h-[900px]">
  <img
    src="https://res.cloudinary.com/dynscts1t/image/upload/v1704728130/negocios-finanzas-empleo-concepto-mujeres-emprendedoras-exitosas-primer-plano-empresaria-moderna-estilo-traje-gafas-mensajeria-telefono-movil_po8dwm_1_f2xp7n.jpg"
    alt=""
    class="absolute lg:right-0 bottom-0 h-96 lg:h-full max-lg:right-2/4 max-lg:translate-x-1/2"
  />

  <Container>
    <div class="relative z-10 lg:w-[30%] xl:w-2/4 max-md:pb-[340px]">
      <h3 class="text-7xl font-bold font-sans max-lg:text-center max-lg:mx-auto text-[#01499D]">We are Zion Finance</h3>
      <br />
      <p class="max-lg:text-center text-justify">
        At Zion Finance, we are dedicated to transforming the way individuals and busi- nesses navigate the financial
        landscape. With our expertise and innovative solu- tions, we empower our clients to achieve their financial
        goals and secure a pros- perous future.
      </p>
      <br />
      <p class="max-lg:text-center text-justify">
        Our company is built on a foundation of trust, integrity, and professionalism. We understand that each client
        has unique needs and aspirations, which is why we take a personalized approach to financial services. By
        carefully listening to your objectives, we tailor our strategies to fit your specific circumstances, ensuring
        maximum effectiveness and long-term success.
      </p>
      <br />
      <br />
      <div>
        <a class="bg-[#01499D] px-6 py-3 text-white">Get a consultion</a>
      </div>
    </div>
  </Container>
</section>
