---
import Container from '../Container.astro';
---

<section id="Welcome" class="relative py-16 md:py-28 lg:py-36 bg-[#060F18]">
  <Container>
    <div class="flex max-lg:flex-col gap-12" data-aos="fade-up">
      <div class="relative z-10 lg:w-full">
        <h3 class="text-7xl font-bold font-sans max-lg:text-center max-lg:mx-auto text-[#fff]">About Us</h3>
        <br />
        <p class="text-justify text-white">
          We are a leading importer and distributor of premium exterior windows, specializing in high-quality products.
          With a strong focus on delivering excellence, Our wide range of windows is designed to withstand strong
          impacts, enhancing the aesthetics and functionality of any space. Our commitment to quality is unwavering, as
          we source and curate only the finest materials and employ rigorous quality control measures. Backed by our
          expertise and dedication, we strive to provide our customers with unparalleled satisfaction and peace of mind.
          Experience the difference with our exceptional windows that elevate both the style and performance of your
          property
        </p>
      </div>
      <div
        class="bg-[url('https://primeglasswindows.com/wp-content/uploads/2022/06/window-glass-repair-Ajax-ON.jpg')] bg-cover bg-bottom w-full min-h-[300px] lg:max-w-md rounded"
      >
      </div>
    </div>
  </Container>
</section>
