---
import Container from '../Container.astro';
---

<section id="Gallery" class="relative py-20">
  <img
    src="https://img.freepik.com/vector-premium/fondo-patron-curva-moderno-blanco-abstracto-elemento-diseno-grafico_120819-1587.jpg?w=2000"
    class="w-full h-full object-cover absolute top-0"
    alt=""
  />
  <Container>
    <h4 class="text-6xl relative z-20 text-center drop-shadow-lg text-gray-800 font-semibold font-sans mb-12">
      Gallery
    </h4>
    <article class="grid relative z-20 grid-cols-3 gap-6 h-[750px]">
      <div class="bg-gray-300 rounded"></div>
      <div class="bg-gray-300 rounded"></div>
      <div class="bg-gray-300 rounded"></div>
    </article>
  </Container>
</section>
