---
import Container from '../Container.astro';
---

<section id="Hero" class="relative grid place-items-center bg-[#E6E7EB]" style="height: 100dvh;">
  <img
    src="https://res.cloudinary.com/dsazdy51q/image/upload/v1704732185/instalacion-armazones-madera-vigas-techo-construccion-condominios_1_upuvip.jpg"
    class="w-full h-full object-cover absolute top-0 brightness-50"
    alt=""
  />
  <Container>
    <div class="grid place-items-center relative z-10 text-white text-center">
      <img
        class="max-w-sm mb-12 mt-6"
        src="https://res.cloudinary.com/dynscts1t/image/upload/v1704742876/Group_7_zdxx6x.png"
        alt=""
      />

      <!-- <h1 class="text-4xl font-serif uppercase max-w-xs mb-2">River Truss</h1> -->
      <div class="max-w-md">
        <h2 class="mb-8 font-bold text-4xl">Rise your construction with our trusses!</h2>
        <a href="#Footer" class="bg-white text-black font-semibold rounded-full px-6 py-3 hover:scale-105 transition"
          >Get your consulation</a
        >
      </div>
    </div>
  </Container>
</section>

<style>
  .radial-bg {
    background-image: radial-gradient(circle, #ffd03a, #b57b00);
  }
</style>
