---
import Container from '../Container.astro';

const data = [
  {
    title: 'Wooden Roof Frame',
    description: 'A house frame with a wooden roof structure constructed using beams.',
    img: 'https://res.cloudinary.com/dsazdy51q/image/upload/v1704732060/marco-techo-casa-vigas-construyo-utilizando-vigas-construccion-nueva-casa_njowpg.jpg',
  },
  {
    title: 'Truss Construction',
    description: 'Construction of a house with trusses and a wooden frame for support.',
    img: 'https://res.cloudinary.com/dsazdy51q/image/upload/v1704732056/construccion-casa-vigas-partir-trusses-marco-madera-llevo-cabo-construccion-casa_fgl8v8.jpg',
  },
  {
    title: 'Roof Installation',
    description: 'Installing wooden roof frames and beams for condominium construction.',
    img: 'https://res.cloudinary.com/dsazdy51q/image/upload/v1704732329/instalacion-armazones-madera-vigas-techo-construccion-condominios_2_1_wwooyr.jpg',
  },
];
---

<section id="Section" class="relative overflow-hidden bg-[#3F4040]">
  <Container>
    <article class="flex flex-col items-center justify-center relative z-10 gap-10 py-32">
      <div class="grid md:grid-cols-3 gap-4 lg:gap-[4vw] w-full">
        {
          data.map((itm) => (
            <div class="w-full aspect-square rounded">
              <img src={itm.img} class=" rounded h-full mb-2 object-cover" />
              <footer class="text-center text-white">
                <h4 class="text-3xl font-semibold">{itm.title}</h4>
                <p class="text-white/60">{itm.description}</p>
              </footer>
            </div>
          ))
        }
      </div>
    </article>
  </Container>
  <style></style>
</section>
