---
import Container from '../Container.astro';
---

<section id="Depot" class="relative overflow-hidden bg-[#fff]">
  <span
    class="absolute top-1/2 left-1/2 aspect-square z-30 -translate-x-1/2 -translate-y-1/2 bg-gray-300 grid place-items-center rounded-full shadow p-8 scale-50"
  >
    <svg width="144" height="89" viewBox="0 0 144 89" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_116_3)">
        <path
          d="M41.504 62.5691C41.4821 62.3447 41.4119 62.1382 41.4119 61.9137V59.9917C41.4119 59.0767 41.5611 58.1752 41.8601 57.3174C41.8601 57.3174 46.6459 50.9044 48.9091 43.3698C46.4305 38.1354 44.1805 31.6215 44.1805 25.1645C44.1805 23.6646 44.2904 22.213 44.4442 20.7833C41.2144 17.3966 36.8505 15.4787 32.0296 15.4787C22.0759 15.4787 13.9989 23.6071 13.9989 36.2395C13.9989 46.3472 22.2167 57.3171 22.2167 57.3171C22.5067 58.1748 22.6564 59.0765 22.6564 59.9914V61.9135C22.6564 64.3108 21.2589 66.4923 19.0791 67.491L6.03168 72.8263C2.99923 74.2251 0.841492 77.0136 0.239617 80.2947L0.0154596 83.1669C-0.0987279 84.6626 0.410897 86.1359 1.43043 87.2313C2.44546 88.3354 3.87393 88.9555 5.37243 88.9555H26.699L27.5735 77.7087L27.6305 77.4051C28.6985 71.5068 32.5921 66.4923 38.0324 63.9854L41.504 62.5691Z"
          fill="#3F4040"></path>
        <path
          d="M143.76 80.2947C143.163 77.0136 141.005 74.2247 137.973 72.8263L124.917 67.491C122.737 66.4923 121.348 64.3108 121.348 61.9135V59.9914C121.348 59.0765 121.493 58.1748 121.792 57.3171C121.792 57.3171 130.005 46.3472 130.005 36.2395C130.005 23.6071 121.933 15.4787 111.961 15.4787C107.15 15.4787 102.786 17.3966 99.5467 20.7921C99.7051 22.2174 99.8147 23.6642 99.8147 25.1641C99.8147 31.6168 97.5692 38.1309 95.0951 43.365C97.3539 50.8997 102.148 57.3171 102.148 57.3171C102.438 58.1748 102.592 59.0765 102.592 59.9914V61.9135C102.592 62.1378 102.517 62.3445 102.495 62.5688L105.73 63.8885C111.399 66.4837 115.292 71.4978 116.373 77.3961L116.426 77.7042L117.296 88.9555H138.632C140.13 88.9555 141.558 88.3354 142.569 87.2313C143.589 86.1359 144.099 84.6626 143.984 83.1669L143.76 80.2947Z"
          fill="#3F4040"></path>
        <path
          d="M103.463 69.4438L87.6686 62.9825C85.032 61.7682 83.349 59.1292 83.349 56.235V53.9039C83.349 52.8044 83.5247 51.709 83.8895 50.6666C83.8895 50.6666 93.8214 37.4007 93.8214 25.1641C93.8214 9.87485 84.0524 0.0444946 71.998 0.0444946C59.9481 0.0444946 50.1746 9.87514 50.1746 25.1641C50.1746 37.4007 60.1151 50.6666 60.1151 50.6666C60.4712 51.709 60.6557 52.8044 60.6557 53.9039V56.235C60.6557 59.1292 58.9595 61.7682 56.327 62.9825L40.5331 69.4438C36.8636 71.1283 34.249 74.5063 33.5284 78.4825L32.7152 88.9553H71.998H111.281L110.477 78.4825C109.747 74.5065 107.132 71.1285 103.463 69.4438Z"
          fill="#3F4040"></path>
      </g>
      <defs>
        <clipPath id="clip0_116_3">
          <rect width="144" height="89" fill="white"></rect>
        </clipPath>
      </defs>
    </svg>
  </span>
  <div class="grid grid-cols-2 absolute w-full h-full">
    <div class="w-full h-full bg-[#3F4040]"></div>
    <div class="w-full h-full bg-gray-100"></div>
  </div>
  <!-- <img
    class="absolute h-full w-full object-cover brightness-50"
    src="https://www.soracom.io/wp-content/uploads/2022/03/AdobeStock_462845394-1-scaled.jpeg"
    alt=""
  /> -->
  <Container>
    <article class="grid grid-cols-2 relative z-10 gap-24 x py-32">
      <div>
        <div class="text-white max-w-md mx-auto">
          <h3 class="text-4xl font-semibold mb-3">About Us</h3>
          <p class="text-white/70 text-justify">
            We are a leading importer and distributor of premium exterior windows, specializing in high-quality
            products. With a strong focus on delivering excellence, Our wide range of windows is designed to withstand
            strong impacts, enhancing the aesthetics and functionality of any space. Our commitment to quality is
            unwavering, as we source and curate only the finest materials and employ rigorous quality control measures.
            Backed by our expertise and dedication, we strive to provide our customers with unparalleled satisfaction
            and peace of mind. Experience the difference with our exceptional windows that elevate both the style and
            performance of your property
          </p>
        </div>
      </div>
      <div>
        <div class="bg-gray-400 w-full h-full rounded max-w-md mx-auto"></div>
      </div>
    </article>
    <style></style>
  </Container>
</section>
