---
import Container from '../Container.astro';
---

<section id="Hero" class="relative grid place-items-center bg-gray-900" style="height: 100dvh;">
  <img
    src="https://img.freepik.com/foto-gratis/familia-mudarse-casa-nueva_23-2149162261.jpg?w=1380&t=st=1703757852~exp=1703758452~hmac=5180897be4d63c98ca36c9b1a938f08b332b47b7013b94cf434d97f0298ef4e3"
    class="w-full h-full object-cover absolute bottom-0 opacity-40"
    alt=""
  />
  <Container>
    <div class="grid place-items-center relative z-10 text-white text-center">
      <img src="/" class="max-h-96" alt="" />
      <div class="max-w-2xl">
        <h2 class="mb-8 text-5xl font-display font-bold">
          This is the time<br /> to <span
            class="before:block before:absolute before:h-6 before:w-full before:bottom-0 before:bg-[#BB954C] relative inline-block"
          >
            <span class="relative text-white">Invest.</span>
          </span>
        </h2>
        <button class="bg-[#BB954C] text-white font-semibold rounded-2xl px-6 py-2 hover:scale-105 transition"
          >Get your consulation</button
        >
      </div>
    </div>
  </Container>
</section>

<style>
  .radial-bg {
    background-image: radial-gradient(circle, #ffd03a, #b57b00);
  }
</style>
