---
import Container from '../Container.astro';

const data = [{}, {}, {}];
---

<section id="Section" class="relative overflow-hidden bg-[#3F4040]">
  <Container>
    <article class="flex flex-col items-center justify-center relative z-10 gap-10 py-32">
      <div class="grid md:grid-cols-3 gap-4 lg:gap-[4vw] w-full">
        {
          data.map((itm) => (
            <div class="w-full aspect-square rounded">
              <div class="bg-gray-200 rounded h-full mb-2" />
              <footer class="text-center text-white">
                <h4 class="text-3xl font-semibold">Truss</h4>
                <p class="text-white/60">Short description</p>
              </footer>
            </div>
          ))
        }
      </div>
    </article>
  </Container>
  <style></style>
</section>
