---
import Container from '../Container.astro';
---

<section id="Section" class="relative overflow-hidden">
  <span class="absolute h-full w-full object-cover z-10 backdrop-blur"></span>
  <img
    class="absolute h-full w-full object-cover brightness-50"
    src="https://img.freepik.com/foto-gratis/elegante-sala-estar-escandinava-muebles-sofa-menta-diseno-que-burlan-plantas-mapa-cartel-eleg_1258-152155.jpg?w=1380&t=st=1703757583~exp=1703758183~hmac=1f3eb32fd8f619cd6f770d976eda6ba6865d5fc474561b6734576b2a4c1aa322"
    alt=""
  />
  <Container>
    <article class="flex flex-col items-center justify-center relative z-20 gap-10 py-32">
      <div class="text-center text-white">
        <h4 class="font-bold text-6xl font-display">Welcome To</h4>
        <h4 class="font-bold text-6xl font-display mb-6">DGC Development Teams</h4>
        <footer class="max-w-4xl text-justify">
          <p class="text-white/80">
            Welcome to DGC Development Team, your premier destination for exceptional home renovations in Florida. With
            our expert craftsmanship and dedication to excellence, we transform houses into stunning living spaces that
            truly reflect your unique style and vision.
          </p>

          <br />
          <p class="text-white/80">
            At DGC Development Team, we understand that your home is a reflection of your personality and lifestyle. Our
            skilled team of professionals brings years of experience and a keen eye for detail to every project,
            ensuring flawdess execution and breathtaking results. Whether you're looking to revamp a single room or
            undertake a complete home renovation, we have the expertise and resources to bring your dreams to life.
          </p>
        </footer>
      </div>
    </article>
  </Container>
  <style></style>
</section>
