---
import Container from '../Container.astro';
---

<section id="Welcome" class="py-16 md:py-28 lg:py-36 bg-[#F5F2F4]">
  <Container>
    <div class="flex max-lg:flex-col gap-6 lg:gap-12 xl:gap-20 relative overflow-hidden">
      <div class="w-auto my-auto">
        <h3 class="text-7xl font-bold font-sans max-lg:text-center max-lg:mx-auto text-gray-700">
          About Avidan Engineering
        </h3>
        <br />
        <p class="max-lg:text-center">
          Welcome to Avidan Engineering - Your premier destination for exceptional engineering services, top-quality
          construction materials, and innovative building solutions in Florida. With a strong commitment to excellence,
          we pride ourselves on delivering cutting-edge engineering expertise and sustainable construction practices.
          From superior materials to expertly crafted buildings, we strive to create spaces that embody both
          functionality and aesthetic brilliance. Trust 'Home Engineering & Construction' to bring your vision to life
          with unrivaled precision and skill."
        </p>
      </div>
      <img
        src="https://res.cloudinary.com/dynscts1t/image/upload/v1701348279/Web_Avidan_Engineering_2_ypqv1v.png"
        alt=""
      />
    </div>
  </Container>
</section>
