---
import Container from '../Container.astro';
---

<section id="Section" class="relative overflow-hidden">
  <img
    class="absolute h-full w-full object-cover brightness-50"
    src="https://www.soracom.io/wp-content/uploads/2022/03/AdobeStock_462845394-1-scaled.jpeg"
    alt=""
  />
  <Container>
    <article class="flex flex-col items-center justify-center relative z-10 gap-10 py-32">
      <div class="text-center max-w-lg text-white">
        <h4 class="font-bold text-6xl font-sans">Engineering</h4>
      </div>
      <div class="flex max-md:flex-col max-md:max-w-xs gap-6 md:h-36 w-full max-w-3xl">
        <div class="flex flex-col w-full items-center">
          <div
            class="w-full mb-2 bg-white/40 backdrop-blur grid place-items-center p-4 rounded-2xl text-xl hover:scale-105 transition"
          >
            <img class="h-24" src="https://www.svgrepo.com/show/509325/check-circle.svg" alt="" />
          </div>
          <span class="text-xl font-semibold text-white">High Quality</span>
          <p class="text-white text-center text-xs">Unmatched Excellence in Truss Solutions.</p>
        </div>
        <div class="flex flex-col w-full items-center">
          <div
            class="w-full mb-2 bg-white/40 backdrop-blur grid place-items-center p-4 rounded-2xl text-xl hover:scale-105 transition"
          >
            <img class="h-24" src="https://www.svgrepo.com/show/524052/hand-money.svg" alt="" />
          </div>
          <span class="text-xl font-semibold text-white">Effienciency</span>
          <p class="text-white text-center text-xs">In every thing we do we are commilment to excellence.</p>
        </div>
        <div class="flex flex-col w-full items-center">
          <div
            class="w-full mb-2 bg-white/40 backdrop-blur grid place-items-center p-4 rounded-2xl text-xl hover:scale-105 transition"
          >
            <img class="h-24" src="https://www.svgrepo.com/show/501214/group.svg" alt="" />
          </div>
          <span class="text-xl font-semibold text-white">Skilled personnel</span>
          <p class="text-white text-center text-xs">We have the best team comprised of top professionals.clo</p>
        </div>
      </div>
    </article>
  </Container>
  <style></style>
</section>
