---
import Container from '../Container.astro';
---

<section id="Hero" class="relative grid place-items-center bg-[#E6E7EB]" style="height: 100dvh;">
  <img
    src="https://www.britishsolarrenewables.com/wp-content/uploads/2022/12/Roofer-1536x1152.jpg"
    class="w-full h-full object-cover absolute top-0"
    alt=""
  />
  <div class="max-w-7xl mx-auto px-6 md:px-12 xl:px-6 font-sans w-full h-full">
    <div class="flex justify-center items-end relative z-10 text-white text-center h-full pb-12">
      <div class="max-w-2xl">
        <h2 class="font-bold text-5xl">Leave your project in the hands of professionals.</h2>
        <p class="mb-8">Contact us for more information.</p>
        <button class="bg-[#0B2E59] text-white font-semibold rounded-full px-6 py-3 hover:scale-105 transition"
          >Get a consulation</button
        >
      </div>
    </div>
  </div>
</section>

<style>
  .radial-bg {
    background-image: radial-gradient(circle, #ffd03a, #b57b00);
  }
</style>
