---
import Container from '../Container.astro';
---

<section id="Section" class="relative py-32">
  <Container>
    <article class="grid lg:grid-cols-2 gap-12">
      <div>
        <h3 class="text-6xl font-bold mb-8 text-[#0B2E59]">Welcome to <br /> LG Pro Contractor</h3>
        <p>
          At LG Professional Contractors, we take pride in our expertise in manufacturing and installing ceilings. With
          years of experience in the industry, we have established ourselves as a leading provider of top-quality
          ceiling solutions.
        </p>
        <br />
        <p>
          We are committed to delivering exceptional products and services to our clients. From the selection of
          high-grade materials to the precision installation process, we ensure that every aspect of our work meets the
          highest standards of quality.
        </p>
        <br />

        <p>
          Our team consists of skilled professionals who possess extensive knowledge and experience in the field of
          ceiling manufacturing and installation. We continuously stay updated with the latest industry trends and
          techniques, allowing us to offer innovative and efficient solutions to our customers.
        </p>
      </div>
      <img
        src="https://miro.medium.com/v2/resize:fit:1334/format:webp/1*IbR4_tI5d0ULctj7ep5dXg.jpeg"
        class="bg-gray-400 rounded"
      />
    </article>
  </Container>
</section>
<style></style>
